################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MaxVonGrafKftMobile/MaxVonGrafKftMobile/bin
/MaxVonGrafKftMobile/MaxVonGrafKftMobile/obj/Release/netstandard2.0
/MaxVonGrafKftMobile/MaxVonGrafKftMobile.Android/bin/Release
/MaxVonGrafKftMobile/MaxVonGrafKftMobile.Android/obj/.cache
/MaxVonGrafKftMobile/MaxVonGrafKftMobile.Android/obj/Debug/90
/MaxVonGrafKftMobile/MaxVonGrafKftMobile.Android/obj/Release/90
/MaxVonGrafKftMobile/MaxVonGrafKftMobile.iOS/obj/iPhone/Release
/MaxVonGrafKftMobile/MaxVonGrafKftMobile.iOS/obj/iPhoneSimulator/Debug
/MaxVonGrafKftMobileController/bin/Release
/MaxVonGrafKftMobileController/obj/Debug
/MaxVonGrafKftMobileController/obj/Release/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
/MaxVonGrafKftMobileController/obj/Release/MaxVonGrafKftMobileController.csproj.FileListAbsolute.txt
/MaxVonGrafKftMobileController/obj/Release/MaxVonGrafKftMobileController.csproj.CoreCompileInputs.cache
/MaxVonGrafKftMobileController/obj/Release/MaxVonGrafKftMobileController.csproj.CopyComplete
/MaxVonGrafKftMobileController/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/MaxVonGrafKftMobileController/obj/Release/XamlC.stamp
/MaxVonGrafKftMobileController/obj/Release/MaxVonGrafKftMobileController.pdb
/MaxVonGrafKftMobileController/obj/Release/MaxVonGrafKftMobileController.dll
/MaxVonGrafKftMobileModel/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MaxVonGrafKftMobileModel/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/MaxVonGrafKftMobileModel/obj/Release/MaxVonGrafKftMobileModel.csproj.FileListAbsolute.txt
/MaxVonGrafKftMobileModel/obj/Release/MaxVonGrafKftMobileModel.csproj.CoreCompileInputs.cache
/MaxVonGrafKftMobileModel/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/MaxVonGrafKftMobileModel/obj/Release/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
/MaxVonGrafKftMobileModel/obj/Release/XamlC.stamp
/MaxVonGrafKftMobileModel/obj/Release/MaxVonGrafKftMobileModel.pdb
/MaxVonGrafKftMobileModel/obj/Release/MaxVonGrafKftMobileModel.dll
/MaxVonGrafKftMobileServices/bin/Release
/MaxVonGrafKftMobileServices/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MaxVonGrafKftMobileServices/obj/Release/MaxVonGrafKftMobileServices.csproj.CoreCompileInputs.cache
/MaxVonGrafKftMobileServices/obj/Release/MaxVonGrafKftMobileServices.csproj.CopyComplete
/MaxVonGrafKftMobileServices/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/MaxVonGrafKftMobileServices/obj/Release/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
/MaxVonGrafKftMobileServices/obj/Release/MaxVonGrafKftMobileServices.csproj.FileListAbsolute.txt
/MaxVonGrafKftMobileServices/obj/Release/XamlC.stamp
/MaxVonGrafKftMobileServices/obj/Release/MaxVonGrafKftMobileServices.pdb
/MaxVonGrafKftMobileServices/obj/Release/MaxVonGrafKftMobileServices.dll
/MobileControllers/obj/Debug
/MobileControllers/obj/Release/MobileControllers.csproj.FileListAbsolute.txt
/MaxVonGrafKftMobile/MaxVonGrafKftMobile.iOS/obj/project.nuget.cache
/MaxVonGrafKftMobile/MaxVonGrafKftMobile/obj/Debug/netstandard2.0/MaxVonGrafKftMobile.csprojAssemblyReference.cache
/MaxVonGrafKftMobile/MaxVonGrafKftMobile/obj/project.nuget.cache
/MaxVonGrafKftMobile/MaxVonGrafKftMobile.Android/obj/project.nuget.cache
